.price {
  padding: 70px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-title {
  font-family: var(--font-family-b);
  font-size: 64px;
  color: var(--color-black);
  margin: 0;
}
.price-subtitle {
  font-family: var(--font-family-b);
  font-size: 32px;
  color: var(--color-grayLight);
  margin: 0;
  margin-top: 34px;
}
.price-subtitle span {
  position: relative;
  color: var(--color-purpleDark);
}
.price-subtitle span::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background: var(--color-yellowDark);
  border-radius: 999px;
  z-index: -1;
}
.price-cards {
  display: flex;

  margin-top: 40px;
}
.price-card {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  border-radius: 16px;
  transition: box-shadow var(--animation);
  background-color: var(--color-white);
}
.price-card::after {
  position: absolute;
  bottom: -30px;
  left: -30px;
  content: "";
  display: block;
  width: 200px;
  height: 130px;
  z-index: -1;
  opacity: 0;
  transition: opacity var(--animation), var(--animation);
  transform: translate(10px, -10px);
  background: url("../images/backgroud/🎨\ Wiggle.svg") no-repeat center;
}
.price-card:hover {
  box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12),
    0px 16px 24px rgba(38, 50, 56, 0.08);
}
.price-card:hover:after {
  opacity: 1;
  transform: translate(0px, 0px);
}
.price-card:last-child {
  margin-right: 0;
}
.price-card:nth-child(2) .price-button {
  font-size: 24px;
}
.price-button {
  margin-top: 20px;
  height: 64px;
  font-size: 18px;
  font-family: var(--font-family-b);
}
.price-card-title {
  display: flex;
  justify-content: space-between;
  color: var(--color-purpleDark);
  font-size: 18px;
  font-family: var(--font-family-m);
}
.price-card-title-tile {
  text-align: center;
  font-size: 12px;
  font-family: var(--font-family-b);
  color: var(--color-black);
  padding: 8px;
  border: 1px solid var(--color-purpleDark);
  border-radius: 999px;
  width: 74px;
}
.price-card-amount {
  margin-top: 16px;
  font-size: 12px;
  font-family: var(--font-family-b);
  color: var(--color-black);
}
.price-card-amount span {
  font-size: 48px;
}
.price-card-service {
  margin-top: 28px;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.price-card-service li {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-size: 18px;
  font-family: var(--font-family-r);
  color: var(--color-black);
}
.price-card-service li:first-child {
  margin-top: 0;
}
.price-card-service li::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  margin-right: 16px;
  background: var(--color-graySoft) url("../images/icons/Check.svg") no-repeat
    center;
}
.price-card:nth-child(2) li::before {
  background-color: var(--color-yellowDark);
}
.price-card:nth-child(3) li::before {
  background-color: var(--color-greenLight);
}
